<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PopClub Suite" parallel="false" thread-count="1">

    <listeners>
        <listener class-name="com.popclub.listener.TestListener"/>
    </listeners>

    <parameter name="testFile" value="login.yaml"/>
    <parameter name="deviceSerial" value="10BDCM0YJZ00043"/>
    <parameter name="runTitle" value="Regression Run - Build 453"/>
    <parameter name="projectId" value="d8f4a221-bc6d-47d8-9448-0834f5d012ec"/>

    <test name="Mobile Tests">

        <classes>
            <class name="com.popclub.runner.TestRunnerTest"/>
        </classes>

    </test>

</suite>
